html
  head
    title Country Information
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
    style.
      h1 {
        text-align: center;
        font-family: 'Arial', sans-serif;
      }
  body
    h1 Country Information
    if countries
      table.table.table-striped.table-bordered
        thead
          tr
            th Code
            th Name
            th Continent
            th Region
            th Population
            th Capital
        tbody
          each country in countries
            tr
              td #{country.Code}
              td #{country.Name}
              td #{country.Continent}
              td #{country.Region}
              td #{country.Population}
              td #{country.Capital}

  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
  script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
